# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment variables
.env

# Ignore database files (if not needed in the repo)
*.db

# Ignore static files (if they are large or unnecessary)
/static/images/*